@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700;800&display=swap");

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(3, 87, 100);
}

::selection {
  background-color: rgba(0, 56, 82, 0.733);
}

.logo {
  width: 100px;
}

header {
  position: absolute;
  z-index: 999;
  width: 100%;
  padding: 0.9rem 0px;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header nav {
  max-width: 1400px;
  margin: 0px auto;
  padding: 0px 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  list-style: none;
  align-items: center;
}

header ul a {
  text-decoration: none;
  color: white;
  padding: 0px 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.83rem;
}

.search a {
  font-size: 1.05rem;
  padding: 0px 3rem;
}

.hamburger {
  padding-left: 1.5rem;
}

.hamburger a {
  padding: 0px;
  width: 37px;
  height: 37px;
  display: flex;
  border-radius: 50%;
  background-color: rgb(115, 115, 115, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
}

.hamburger .bar {
  position: relative;
  width: 52%;
  height: 1.3px;
  background-color: white;
  border-radius: 2px;
}

.hamburger .bar::before,
.hamburger .bar::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 100%;
  background-color: inherit;
  border-radius: 2px;
}

.hamburger .bar::before {
  top: -4.5px;
}
.hamburger .bar::after {
  top: 4.5px;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.parallax {
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.bg-img {
  position: absolute;
  /* width: 2000px (width that i put) / 1440px (window's width) = 1.388; */
  width: 138.89%;
  /* top: calc(50% + ((60px (i put it) / 810px (window's height)) = 7.41%); */
  top: 57.41%;
  /*left: if you have: calc(50% + something else that you put / 1440px (window's width) */
  left: 50%;
  background-size: cover;
  z-index: 1;
}

.mountain-1 {
  position: absolute;
  z-index: 2;
  width: 34.72%;
  top: 65.68%;
  left: 20.28%;
}

.mountain-2 {
  position: absolute;
  z-index: 3;
  width: 27.78%;
  top: 54.94%;
  left: 59.24%;
}

.monastery-3 {
  position: absolute;
  z-index: 4;
  width: 37.5%;
  top: 56.91%;
  left: 43.75%;
}

.text {
  position: absolute;
  z-index: 5;
  top: calc(50% - 35px);
  left: calc(50% - 60px);
  text-align: center;
  text-transform: uppercase;
  color: white;
  border-top: 5px #ffffff solid;
  border-bottom: 5px #ffffff solid;
  pointer-events: auto;
  padding-left: 60px;
  padding-right: 60px;
}

.text h1 {
  font-weight: 800;
  font-size: 8rem;
  text-shadow: 2px 2px 5px #035275;
  padding-right: 411px;
  padding-left: 411px;
  line-height: 1.1;
}

.text h2 {
  font-weight: 500;
  font-size: 2rem;
  text-shadow: 2px 2px 5px #035275;
  padding-right: auto;
  padding-left: auto;
  line-height: 1.1;
}

.monastery-4 {
  position: absolute;
  z-index: 7;
  width: 20.83%;
  top: 19.31%;
  left: 93.75%;
}

.monastery-2 {
  position: absolute;
  z-index: 8;
  width: 76.39%;
  top: 66.05%;
  left: 64.24%;
}

.monastery-5 {
  position: absolute;
  z-index: 9;
  width: 49.9%;
  top: 84.57%;
  left: 77%;
}

.monastery-1 {
  position: absolute;
  z-index: 6;
  width: 53.47%;
  top: 70.06%;
  left: 23.26%;
}

.vignette {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 65%,
    rgba(0, 0, 0, 0.7)
  );
  pointer-events: none;
}

@media (max-width: 1100px) {
  .text h1 {
    font-size: 5.8rem;
  }
  .text h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 725px) {
  .text h1 {
    font-size: 5rem;
    line-height: 1.1;
  }

  .text h2 {
    font-size: 1.4rem;
    line-height: 1.1;
  }

  header nav {
    padding: 0 1rem;
  }

  .logo {
    width: 75px;
  }

  header ul a {
    font-size: 0.73rem;
    padding: 0 0.9rem;
  }

  .search a {
    font-size: 0.85rem;
    padding: 0 1.8rem;
  }

  .hamburger {
    padding-left: 0.9rem;
  }

  .hamburger a {
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 520px) {
  .text h1 {
    font-size: 3.3rem;
  }
  .text h2 {
    font-size: 1.1rem;
  }
}
